h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}

a:focus {
    outline: none;
}


body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden
}

body, body.full-height-layout #page-wrapper, body.full-height-layout #wrapper, html {
    height: 100%;
}

.gray-bg {
    background-color: #f3f3f4;
}

.navbar-default {
    background-color: transparent;
    border-color: #204d74;
    position: relative;
}

/*当屏幕像素小于768时执行下面的Css*/
@media(max-width: 768px){
    body.fixed-sidebar .navbar-static-side{
        display: none;
    }
    .nav-close {
        display: block;
    }
}

.nav .logo {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 220px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden
}
/*点击导航栏效果*/
.nav>li.active {
    border-left: 4px solid #19aa8d;
    background: #293846;
}

.navbar {
    border: 0
}

.logo-lg {
    display: block;
}

.sidebar-collapse .user-panel{
    white-space: normal;/*段落中文本不换行*/
    position: relative;
    width: 100%;
    padding: 15px;
    overflow: hidden;
}

.sidebar-collapse .user-panel .image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
    border: 1px solid #204d74;
}

.sidebar-collapse .user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.sidebar-collapse .user-panel>.info a {
    color: #fff;
    font-size: 12px;
}

.sidebar-collapse .user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
    color: #204d74;
    font-size: 12px;
}

.img-circle {
    border-radius: 50%;
}


/*字体颜色*/
.text-success {
    color: #1c84c6;
}

.text-danger {
    color: #ed5565;
}

/*字体图标*/
.arrow {
    float: right;
    margin-top: 2px;
}

.fa.arrow:before {
    content: "\f104";
}

.active>a>.fa.arrow:before {
    content: "\f107";
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}