html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/**
清除浮动
 */
.clearfix:after {
    display: table;
    content: " ";
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.mai {
    width: 1200px;
    height: auto;
    margin: auto;
}

body {
    background-color: #F1F1F1;
}
