/*公共样式表*/
BODY{ 
      margin:0 auto;
	  FONT-FAMILY:Verdana, Arial, 宋体; font-size:9pt;   
	  background-image:url('images/background.gif');
	  background-position: center;
	  background-color:#F1E5CC;

	  SCROLLBAR-FACE-COLOR:#C00404;
	  scrollbar-track-color:#C00404;
      SCROLLBAR-HIGHLIGHT-COLOR:#FDF6E7;
      SCROLLBAR-SHADOW-COLOR:#FDF6E7;
      SCROLLBAR-ARROW-COLOR:#000000;
      SCROLLBAR-BASE-COLOR:#FDF6E7; 
      SCROLLBAR-DARK-SHADOW-COLOR:#FDF6E7;
}
INPUT {
		PADDING-RIGHT: 1px; 
		PADDING-LEFT: 1px; 
		FONT-SIZE: 9pt; 
		PADDING-BOTTOM: 1px; 
		PADDING-TOP: 1px;
		HEIGHT: 20px; 
		font-family: "Verdana, Arial, 宋体"; font-size: 12px; 
}
SELECT {
	    BORDER-LEFT-COLOR: #6B332A;
		BORDER-BOTTOM-COLOR: #6B332A; 
		COLOR: #6B332A;
		BORDER-TOP-COLOR: #6B332A;
		BACKGROUND-COLOR: #ffffff;
		BORDER-RIGHT-COLOR: #6B332A;
}
textarea {border:1px solid #E8E8E8;color: #082d71;background-color: #ffffff;}
td {FONT-FAMILY:Verdana, Arial, 宋体; font-size:9pt;}
/*公共样式表*/

/*导航菜单样式表*/
A.MenuType{
    text-align:center;
    padding:0 10px;
	background: url(images/gov_menu_dot.gif)  no-repeat right;  
}
A.MenuType:unknown link {
	COLOR: #ffffff;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: none;
}
A.MenuType:link {
	COLOR: #ffffff;
	FONT-SIZE: 14px;
	font-weight:bold; 
	text-decoration: none;
}
A.MenuType:active {
	COLOR: #ffffff;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: none
}
A.MenuType:visited {
	COLOR: #ffffff;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: none;
}
A.MenuType:hover {
  display:block;
  height:33px;
  line-height:33px;
  background: url(images/menu_bg_hover.gif) center; 
  COLOR: #F9D463;
  FONT-SIZE: 14px; 
  font-weight:bold;
  text-decoration: none;
}

.mtDropdownMenu {
	LEFT: -1000px;
	OVERFLOW: hidden;
	POSITION: absolute;
	TOP: -1000px;
}
.mtDropdownMenu .content{
	POSITION: absolute
}
.mtDropdownMenu .items {
	LEFT: 0px;
	POSITION: relative;
	TOP: 4px;
	Z-INDEX: 10;
	border: 1px solid #B9B8B8;
}
.mtDropdownMenu .item {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	color:#FFFFFF;
	CURSOR: hand;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
}
.mtDropdownMenu .background {
	FILTER: alpha(opacity=85);
	LEFT: 0px;
	POSITION: absolute;
	TOP: 4px;
	Z-INDEX: 1;
	moz-opacity: .8;
}
.mtDropdownMenu .shadowRight {
	FILTER: alpha(opacity=40);
	POSITION: absolute;
	TOP: 2px;
	WIDTH: 1px;
	Z-INDEX: 3;
	moz-opacity: .4
}
.mtDropdownMenu .shadowBottom {
	FILTER: alpha(opacity=40);
	HEIGHT: 2px;
	LEFT: 3px;
	POSITION: absolute;
	Z-INDEX: 1;
	moz-opacity: .4
}
.mtDropdownMenu .hover {
	COLOR: #FF0000;
	background-color: #E3E1E1;
}
.mtDropdownMenu .item IMG {
	MARGIN-LEFT: 0px;
}
/*导航菜单样式表*/

/*自定义样式表*/
.side_con {
background: url(images/bg_line.gif) repeat-x  bottom;
}

.link_style   {COLOR: #303030;  FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 9pt;}
A.link_style:link     {COLOR: #303030;  TEXT-DECORATION: none}
A.link_style:visited  {COLOR: #303030;  TEXT-DECORATION: none}
A.link_style:active   {COLOR: #303030;  TEXT-DECORATION: none}
A.link_style:hover    {COLOR: #ff0000;  TEXT-DECORATION: none}

.bottom           {COLOR: #ffffff;FONT-FAMILY:Verdana, Arial, 宋体;FONT-SIZE: 9pt;}
A.bottom:link     {COLOR: #FFFFFF;  TEXT-DECORATION: none}
A.bottom:visited  {COLOR: #FFFFFF;  TEXT-DECORATION: none}
A.bottom:active   {COLOR: #FFFFFF;  TEXT-DECORATION: none}
A.bottom:hover    {COLOR: #FF0000;  TEXT-DECORATION: none}

.bottom_right {COLOR: #000000;FONT-FAMILY:Verdana, Arial, 宋体;FONT-SIZE: 9pt;}
A.bottom_right:link     {COLOR:#000000;   TEXT-DECORATION: none}
A.bottom_right:visited  {COLOR: #000000;  TEXT-DECORATION: none}
A.bottom_right:active   {COLOR: #00000;  TEXT-DECORATION: none}
A.bottom_right:hover    {COLOR: #ff0000;  TEXT-DECORATION: none}

.top {COLOR: #ffffff;FONT-FAMILY:Verdana, Arial, 宋体;FONT-SIZE: 9pt;font-weight: bold;}
A.top:link        { COLOR: #ffffff;  TEXT-DECORATION: none}
A.top:visited     { COLOR: #ffffff;  TEXT-DECORATION: none}
A.top:active      { COLOR: #ffffff;  TEXT-DECORATION: none}
A.top:hover       { COLOR: #FF9933;  TEXT-DECORATION: none}

.content_type {COLOR: #6C2904;FONT-FAMILY:Verdana, Arial, 宋体;FONT-SIZE: 9pt;}
.content_text{
FONT-FAMILY:Verdana, Arial, 宋体;
font-size:14px;
line-height:24px;
color:#333333;
padding:5px;
}
.l_title           {COLOR: #6C2904; FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 14px ;font-weight: bold;}
A.l_title:link     {COLOR: #6C2904; TEXT-DECORATION: none}
A.l_title:visited  {COLOR: #6C2904;  TEXT-DECORATION: none}
A.l_title:active   {COLOR: #6C2904;  TEXT-DECORATION: none}
A.l_title:hover    {COLOR: #CC3300;  TEXT-DECORATION: underline}

.b_title        {COLOR: #6C2904; FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 9pt ;font-weight: bold;}
A.top1:link     {COLOR: #6C2904; TEXT-DECORATION: none}
A.top1:visited  {COLOR: #6C2904;  TEXT-DECORATION: none}
A.top1:active   {COLOR: #6C2904;  TEXT-DECORATION: none}
A.top1:hover    {COLOR: #CC3300;  TEXT-DECORATION: none}

.my           { color:#FF0000; FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 9pt}
A.my:link     {COLOR: #FF0000; TEXT-DECORATION: none}
A.my:visited  {COLOR: #FF0000;  TEXT-DECORATION: none}
A.my:active   {COLOR: #000000;  TEXT-DECORATION: none}
A.my:hover    {COLOR: #000000;  TEXT-DECORATION: none}

.m_tittle{font-size: 12px;color: #ffffff;}

.daohang {font-size: 12px;color: #000000;background-repeat: repeat-x;}
.daohang:link {	font-size: 12px;color: #000000;text-decoration: none;}
.daohang:visited {font-size: 12px;color: #000000;text-decoration: none;}
.daohang:hover {font-size: 12px;color: #ff0000;text-decoration: underline;}

.white_title{ color:#FFFFFF; font-size:14px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}

.black_title{ color:#000000;font-size:12px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}

.white_link {{color:#ffffff; FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 9pt}
A.white_link:link     {COLOR: #FFFFFF; TEXT-DECORATION: none}
A.white_link:visited  {COLOR: #FFFFFF;  TEXT-DECORATION: none}
A.white_link:active   {COLOR: #FFFFFF;  TEXT-DECORATION: none}
A.white_link:hover    {COLOR: #FF0000;  TEXT-DECORATION: none}

.yellow_title{ color:#6B332A; font-size:12px; font-weight:800; font-family:Verdana, Arial, Helvetica, sans-serif;}


.pic_cont{ width:120px; height:90px; margin:4px; padding:3px; border:1px solid #D55500;}

.login{ margin:0; padding:2px; float:center;}

.date{ color:#6B332A; font-size:12px; font-weight:300;}

.login_user           {COLOR: #6C2904; FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 9pt ;font-weight: bold;}
A.login_user:link     {COLOR: #6C2904; TEXT-DECORATION: none}
A.login_user:visited  {COLOR: #6C2904;  TEXT-DECORATION: none}
A.login_user:active   {COLOR: #6C2904;  TEXT-DECORATION: none}
A.login_user:hover    {COLOR: #CC3300;  TEXT-DECORATION: none}

input.login_username{ border:1px solid #E2D497; background:#FFFFFF; height:20}

.newsdate           {
	FONT-FAMILY:Verdana, Arial, "宋体";
	FONT-SIZE: 8pt;
	color: #666666;
}
.pic_word{
	FONT-FAMILY:Verdana, Arial, "宋体";
	FONT-SIZE: 8pt;
	color: #ff0000;
}
.click_word{
	FONT-FAMILY:Verdana, Arial, "宋体";
	FONT-SIZE: 8pt;
	color: #ff0000;
}


.pic_border{
width:108px;
padding:4px;
border:1px solid #E8E8E8;
}
.pic_border2{
margin:10  0 4 0;
width:118px;
padding:4px;
border:1px solid #E8E8E8;
}

/*首页独有样式表*/
.daodu           {COLOR: #DF4400; FONT-FAMILY:Verdana, Arial, 黑体; FONT-SIZE: 18pt ;font-weight:800}
A.daodu:link     {COLOR: #DF4400; TEXT-DECORATION: none}
A.daodu:visited  {COLOR: #DF4400;  TEXT-DECORATION: none}
A.daodu:active   {COLOR: #DF4400;  TEXT-DECORATION: none}
A.daodu:hover    {COLOR: #FF0000;  TEXT-DECORATION: none}

.cardSelected {
	border-top:1px solid #D3EC9B;
	border-right:1px solid #D3EC9B;
	border-left:1px solid #D3EC9B;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px;
	CURSOR: hand; 
	COLOR: #ff0000; 	
	background:url(Images/Select_menu_bg.gif) #FFFFFF x-repeat;	
	TEXT-ALIGN: center; 
	TEXT-DECORATION: none;
}
.b_cardSelected{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px;
	CURSOR: hand; 
	COLOR: #ffffff;
	background:url(Images/dep_menu_bg.gif) #F5D7CA no-repeat;	
	TEXT-ALIGN: center; 
	TEXT-DECORATION: none;
}
.s_cardSelected {
	border-top:2px solid #D9C497;
	border-right:1px solid #D9C497;
	border-left:1px solid #D9C497;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px;
	CURSOR: hand; 
	COLOR: #ff0000; 	
	background:url(Images/bs_bg.gif) #FFFFFF repeat-x;		
	TEXT-ALIGN: center; 
	TEXT-DECORATION: none;
}
.cardNormal {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	BORDER-LEFT: medium none;
	BORDER-BOTTOM: medium none;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;	
	CURSOR: hand;
	COLOR: #F76300;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}
.s_cardNormal {
	BORDER-BOTTOM: 1px solid #D9C497;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;	
	CURSOR: hand;
	COLOR: #F76300;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}
.tab_hd{
    width:352px;
	height:28px;
	border-top:1px solid #D3EC9B;
	border-right:1px solid #D3EC9B;
	border-bottom:2px solid #D3EC9B;
	border-left:1px solid #D3EC9B;
	padding:2 0 0 0;
	background-color:#F1FFD2;
}
.tab_bm{
    width:424px;
	height:28px;
	border-top:1px solid #F1C7B2;
	border-right:1px solid #F1C7B2;
	border-bottom:2px solid #F1C7B2;
	border-left:1px solid #F1C7B2;
	margin-top:2px;
	padding:2 0 0 0;
	background-color:#F5D7CA;
}
.tab_s{
	border-top:medium none;
	border-right:1px solid #D9C497;
	border-bottom:1px solid #D9C497;
	border-left:1px solid #D9C497;
	background:url(Images/s_bg.gif) #FFFFFF x-repeat;	
}
/*首页独有样式表*/