/*E创网络版权所有Powered By EC|www.echsys.com*/
/*公共样式表*/
*{    
    margin:0px; padding:0px;font-family: "宋体";
	
	SCROLLBAR-FACE-COLOR:#4EB4FC;
	scrollbar-track-color:#4EB4FC;
    SCROLLBAR-HIGHLIGHT-COLOR:#FDF6E7;
    SCROLLBAR-SHADOW-COLOR:#FDF6E7;
    SCROLLBAR-ARROW-COLOR:#000000;
    SCROLLBAR-BASE-COLOR:#FDF6E7; 
    SCROLLBAR-DARK-SHADOW-COLOR:#FDF6E7;
}
a:link{
	color:#333333; text-decoration:none; 
}
a:visited{
	color:#333333; text-decoration:none;
}
a:hover{
	color:#1E84D8;
}
.mylink{
    COLOR: #303030;  FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 12px;font-weight:bold;
}
a.mylink:link{
	color:#333333; font-size:12px; text-decoration:none; font-weight:bold;
}
a.mylink:visited{
	color:#333333; font-size:12px;text-decoration:none;font-weight:bold;
}
a.mylink:hover{
	color:#1E84D8; font-size:12px;text-decoration:none;font-weight:bold;
}
.clear_float{
	clear:both; height:0px;font-size:1px;
}
.float_left{
	float:left
}
.float_right{
	float:right
}
H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 30px;  PADDING-BOTTOM: 0px; font-size:14px;font-weight:bold;COLOR: #333; LINE-HEIGHT: 31px; PADDING-TOP: 0px; HEIGHT: 31px;background:url(../Images/lm_dot.gif) no-repeat 10px 9px;
}
H3{
PADDING-RIGHT: 10px; PADDING-LEFT: 30px;  PADDING-BOTTOM: 0px; font-size:14px;font-weight:bold;COLOR: #FFF; LINE-HEIGHT: 27px; PADDING-TOP: 0px; HEIGHT: 27px;background:url(../Images/lm_dot2.gif) no-repeat 10px 9px;
}
.more {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right;padding-top:10px;
}
.slide_bg{background:url(../Images/gov_echsys_71.gif) repeat-x left top;}
.lianmu_bg{background:url(../Images/gov_echsys_52.gif) repeat-x left top;}
ul{margin:0px;padding:0px;}
li{list-style:none;}
div,input,table{
	font-size:12px;
	font-weight:normal;
}
table{border-collapse:collapse;}
hr{height:1px;color:#BBBBBB;}
.normal_tr{background:#FFFFFF}
.Hover_tr{background:#e8e8e8}
.blue_tit{
   color:#007BC9;
   font-size:12px;
   font-weight:bold;   
}
.black_title{ color:#000000;font-size:12px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}
BODY{  
	  color:#101010;
	  font-size:12px;
	  background:url(../images/background.gif) #ffffff;
}

#Content{
   margin:0px auto;
   width:1002px;
   background:#FFFFFF;
}
.list {
	margin:0px;
	text-align:left;
	padding: 2px;
}
.list Li {
	list-style:none;font-size:12px; line-height: 20px;
}
.list li span{
	color: #666666;
	float: right;
	text-align: right;
	clear:right;
	font-size:12px;
	padding-right:6px;
}
.list li a, .list li a:visited {
    font-size:12px;
	color: #333333;
	text-decoration: none;
	padding:0px;

}
.list li a:hover{
	background:  #F7F7F7;
	color: #1E84D8;
	text-decoration: none;
}
.pic_word{
	FONT-FAMILY:Verdana, Arial, "宋体";
	FONT-SIZE: 8pt;
	color: #ff0000;
}
.my           { color:#FF0000; FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 9pt}
A.my:link     {COLOR: #FF0000; TEXT-DECORATION: none}
A.my:visited  {COLOR: #FF0000;  TEXT-DECORATION: none}
A.my:active   {COLOR: #000000;  TEXT-DECORATION: none}
A.my:hover    {COLOR: #000000;  TEXT-DECORATION: none}

.content_text{
FONT-FAMILY:Verdana, Arial, 宋体;
font-size:14px;
line-height:24px;
color:#333333;
padding:5px;
}
#login{
   width:536px;
   margin:100px auto;
}
.login_01{
   height:59px;
   background:url(../Images/login_01.gif) no-repeat;
}
.login_02{
   height:140px;
   background:url(../Images/login_02.gif) no-repeat;
}
.login_03{
   height:17px;
   background:url(../Images/login_03.gif) no-repeat;
}
.ver{
   height:40px;
   text-align:center;
   line-height:40px;
}
.logincnt{
   text-align:center;
   margin:48px 8px 0px 8px;
}
.copyright{
   margin-top:20px;
   text-align:center;
   color:#FFFFFF;
}
/*公共样式表*/

/*顶部样式*/
.header{
    margin:0px auto;
    height:26px;
	background: url(../images/gov_echsys_02.gif) repeat-x; 
}
.login{
	text-align:left;
	line-height:22px;
	padding:4px 0px 0px 8px;
}
.mymenu{
   width:380px;
   text-align:right;
   line-height:26px;
   padding-right:8px;
}
.banner{
   marign:0;
   padding:0;
}
.white_tit{
   color:#ffffff;
   font-size:12px;
   font-weight:bold;   
}
.white_tit a:link,.white_tit a:visited{
   color:#ffffff; 
}
.white_tit a:hover{
   color:#ff0000;
}
.nav_main li {
	float: left;
	text-align: center;
	list-style:none;
}
.mainnav{
   	background: url(../images/gov_echsys_09.gif) repeat-x;
	height: 27px;
	margin: 0px auto;
	padding: 0px; 
}
.mainnav ul{
	margin: 0px auto;
	padding: 0px; 
}
.mainnav li{
	float: left;
	text-align: center;
	list-style:none;
}
.data{ 
    color:#FF0000;
	line-height:27px;
	padding:0px 10px 0px 26px;
	background: url(../images/time_dot.gif) no-repeat center left;
}
.nav_current {
	background: url(../images/gov_echsys_06.gif) no-repeat 0px;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 27px;
	line-height:27px;
	text-decoration: none;
	width: 87px;
}
a.f_nav:link {
	color: #ffffff;
	display: block;
	height: 14px;
	text-decoration: none;
}

a.f_nav:visited {
	color: #ffffff;
}

a.f_nav:hover {
	color: #FF6600;
	display: block;
	text-decoration: none;
}
.nav_link {
    background: url(../images/gov_echsys_07.gif) no-repeat 0px;
	cursor:pointer;
	float: left;
	font-size: 14px;
	font-weight:bold;
	height: 27px;
	line-height:27px;
	text-decoration: none;
	width: 87px;
}
.nav_link a:link,.nav_link a:visited {
	color:#0274D0;
}
.nav_link a:hover{
	color:#FF6600;
	background: url(../images/gov_echsys_07_1.gif) no-repeat 0px;
	display: block;
}


/*导航菜单样式表*/
.global_nav{
    background: url(../images/gov_echsys_12.gif) repeat-x 0px;
    margin: 0px auto;
	padding: 0px 4px;
	height:38px;
	line-height:38px;
}
.global_nav li{
	float:left;
    WIDTH: auto;
	font-size:14px;
	color:#000000;
    font-weight:normal;
    text-align:center;    
	background: url(../images/menu_dot.gif)  no-repeat right top; 
}
.global_nav li a:link,.global_nav li a:visited {
	color:#000000;
	padding:0 10px;
}
.global_nav li a:hover{
  display:block;padding:0 10px;
  background: url(../images/menu_hover.gif) no-repeat center top; 
  COLOR: #1E84D8;
  FONT-SIZE: 14px; 
  text-decoration: none;
}

.mtDropdownMenu {
	LEFT: -1000px;
	OVERFLOW: hidden;
	POSITION: absolute;
	TOP: -1000px;
}
.mtDropdownMenu .content{
	POSITION: absolute
}
.mtDropdownMenu .items {
	LEFT: 0px;
	POSITION: relative;
	TOP: 4px;
	Z-INDEX: 10;
	border: 1px solid #B9B8B8;
}
.mtDropdownMenu .item {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: #000000;
	CURSOR: hand;
	FONT-SIZE: 12px;
	font-weight:normal;
	line-height:18px;
	TEXT-DECORATION: none;
}
.mtDropdownMenu .background {
	FILTER: alpha(opacity=85);
	LEFT: 0px;
	POSITION: absolute;
	TOP: 5px;
	Z-INDEX: 1;
	moz-opacity: .8;
}
.mtDropdownMenu .shadowRight {
	FILTER: alpha(opacity=40);
	POSITION: absolute;
	TOP: 3px;
	WIDTH: 2px;
	Z-INDEX: 3;
	moz-opacity: .4
}
.mtDropdownMenu .shadowBottom {
	FILTER: alpha(opacity=40);
	HEIGHT: 2px;
	LEFT: 3px;
	POSITION: absolute;
	Z-INDEX: 1;
	moz-opacity: .4
}
.mtDropdownMenu .hover {
	COLOR: #1E84D8;
	background-color: #E3E1E1;
}
.mtDropdownMenu .item IMG {
	MARGIN-LEFT: 0px;
}
/*导航菜单样式表*/
/*底部样式表*/
#footer{
   margin:0px auto;
   background:#FFFFFF;
}
.foot_nav{
    height:29px;
	text-align:center;
	line-height:29px;
	background:url(../Images/gov_echsys_83.gif) repeat-x;
}
.foot_info{
    text-align:center;
	padding:12px 0px;
}
/*底部样式表*/
/*E创网络版权所有Powered By EC www.echsys.com */

